{% extends 'layout.html.twig' %}

{% block title %}{{ title ?: 'Home' }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row half-gutters">
        {% if path %}
            <div class="col-2">
                <figure class="d-flex justify-content-center list-card">
                    {% set xPath = path|split(';') %}
                    <a class="d-flex align-self-center" href="{{ path('list', { path: xPath|slice(0, xPath|length - 1)|join(';') }) }}"><i class="fas fa-arrow-up"></i></a>
                </figure>
            </div>
        {% endif %}

        {% for folder in folders %}
            <div class="col-2">
                <figure class="d-flex justify-content-center list-card">
                    <a class="d-flex align-self-center" href="{{ path('list', { path: (path ? path ~ ';') ~ folder.filename }) }}">{{ folder.filename }}</a>
                </figure>
            </div>
        {% endfor %}

        {% for song in songs %}
            {% set tags = song|tags %}
            <div class="col-2">
                <figure class="d-flex justify-content-center list-card">
                    <header class="position-absolute">
                        <small>{{ tags.track_number[0] }}</small>
                    </header>
                    <article class="d-flex align-self-center">
                        {{ tags.title[0] }}
                    </article>
                    <aside class="position-absolute">
                        <small>{{ song.extension }}</small>
                    </aside>
                    <button class="position-absolute play-song"
                        data-src="{{ path('stream_song', { path: (path ? path ~ ';') ~ song.filename }) }}"
                        data-type="{{ song.extension == 'mp3' ? 'audio/mpeg' : ('audio/' ~ song.extension) }}"
                        data-title="{{ tags.title[0] }}"
                        data-artist="{{ tags.artist[0] }}"
                        data-album="{{ tags.album[0] }}"
                        {#data-cover="{{ tags.picture[0].data }}"#}>
                        <i class="fas fa-play-circle"></i>
                    </button>
                </figure>
            </div>
        {% endfor %}
    </div>
{% endblock %}