{% extends 'layout.html.twig' %}

{% block title %}{{ title ?: 'Home' }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        {% if path %}
            <div class="col-2">
                <figure class="d-flex justify-content-center">
                    {% set xPath = path|split(';') %}
                    <a class="d-flex align-self-center" href="{{ path('list', { path: xPath|slice(0, xPath|length - 1)|join(';') }) }}"><i class="fas fa-arrow-up"></i></a>
                </figure>
            </div>
        {% endif %}

        {% for folder in folders %}
            <div class="col-2">
                <figure class="d-flex justify-content-center">
                    <a class="d-flex align-self-center" href="{{ path('list', { path: (path ? path ~ ';') ~ folder.filename }) }}">{{ folder.filename }}</a>
                </figure>
            </div>
        {% endfor %}

        {% for song in songs %}
            <div class="col-2">
                <figure class="d-flex justify-content-center">
                    <header class="d-flex align-self-center">
                        {{ song.filename|replace({ ('.' ~ song.extension): '' }) }}
                    </header>
                    <aside>
                        <small>{{ song.extension }}</small>
                    </aside>
                    <button class="play-song" data-src="{{ path('stream_song', { path: (path ? path ~ ';') ~ song.filename }) }}" data-type="{{ song.extension == 'mp3' ? 'audio/mpeg' : ('audio/' ~ song.extension) }}">
                        <i class="fas fa-play"></i>
                    </button>
                </figure>
            </div>
        {% endfor %}
    </div>
{% endblock %}