{% extends 'base.html.twig' %}

{% block title %}chilii Music Player{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/popper.js/dist/popper.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <header>
                    <h1>
                        <i class="fas fa-fire"></i>
                        <i class="fas fa-music"></i>
                        <i class="fas fa-play"></i>
                    </h1>
                </header>

                {% block content %}{% endblock %}

                <footer>
                    v1.0 | Production &amp; Design by ShadeSoft
                </footer>
            </div>
        </div>
    </div>
{% endblock %}